/*=================================================================
    16. Fully Responsive
==================================================================*/


/* Medium Layout: 1200px. */

@media only screen and (min-width: 992px) and (max-width: 1300px) {
    .left-side .down-resume,
    .social-mobile {
        display: block;
    }
    .left-side .top-header,
    .left-side .social-inner,
    .top-header .social-links {
        display: none
    }
}


/* Mobile : 767px */

@media only screen and (max-width: 991px) {
    .wrapper-page {
        display: block;
        height: 100%;
        margin: 50px 0;
    }
    .right-side {
        margin-top: 50px;
    }
    .pt-page {
        height: auto;
        position: static;
        transform: none !important;
        visibility: visible;
        box-shadow: none
    }
    .sec-wrapper .allPages .pt-page .pt-content .pt-scrollPdd {
        padding: 30px;
    }
    .left-side .top-sidebar .info-profile {
        margin-bottom: 0;
    }
    .person-img {
        text-align: center
    }
    .info-bio {
        margin-top: 30px;
    }
    .pt-page .pt-content .box-details .box-content ul li:last-child {
        margin-bottom: 20px;
    }
    .box-services .service-box {
        margin-bottom: 30px !important;
    }
    .box-hobbies .box-content {
        width: auto;
        flex-wrap: wrap;
    }
    .box-hobbies .box-content .one-hobbie:after {
        display: none
    }
    .one-review {
        display: block
    }
    .one-review .img-review {
        margin-bottom: 20px;
    }
    .page-portfolio .portfolio-menu ul {
        flex-wrap: wrap;
    }
    .page-portfolio .portfolio-menu ul li {
        margin: 0 15px 15px 0;
    }
    .page-hireme .details-hire .hire-box {
        margin-bottom: 30px !important
    }
    .pt-perspective {
        position: static;
        height: auto !important;
        perspective: none;
    }
    .sec-wrapper {
        -webkit-box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
        -moz-box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
        -ms-box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
        -o-box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
        box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
    }
    .skill-chart .chart canvas {
        left: 55%;
    }
    .skill-chart {
        margin-bottom: 30px;
    }
    .footer-sidebar {
        display: none
    }
    .left-side .top-header {
        display: none
    }
    .left-side .down-resume,
    .social-mobile {
        display: block
    }
    #logo {
        display: block !important;
        width: 200px;
        margin: auto
    }
    canvas {
        display: none
    }
}


/* Macbook : 991px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .info-bio {
        margin-top: 0;
    }
    .skill-chart .chart canvas {
        left: 66%;
    }
    .box-hobbies .box-content .one-hobbie:after {
        display: block
    }
    .one-review {
        display: flex
    }
    .one-review .img-review {
        margin-bottom: 0;
    }
    #logo {
        display: none !important;
        width: 200px;
        margin: auto
    }
    canvas {
        display: block
    }
}


/* Macbook : 991px */

@media only screen and (min-width: 574px) and (max-width: 767px) {
    .skill-chart .chart canvas {
        left: 61%;
    }
}